<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="miApp">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <title>Evento Nacional Deportivo Estudiantil Oaxaca 2018</title>
  <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap-theme.min.css">

  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="bower/alertify-js/build/css/alertify.min.css">
  <link rel="stylesheet" href="bower/alertify-js/build/css/alertify.min.css">
  <link rel="stylesheet" href="bower/alertify-js/build/css/themes/bootstrap.min.css">
  <link rel="stylesheet" href="bower/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/estilos.css">
  <link rel="stylesheet" href="efectos/menu.css">



</head>

<body >
  <div class="container principal">
    <div ng-include="'templates/header.html'"></div>
    <div class="contenedor-vistas" ng-view ng-cloak class="ng-cloak"></div>
  </div>

  <script type="text/javascript" src="bower/sails.io.js/dist/sails.io.js"></script>
  <script type="text/javascript" src="bower/alertify-js/build/alertify.min.js"></script>
  <script type="text/javascript" src="bower/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="bower/moment/locale/es-us.js"></script>
  <script type="text/javascript" src="bower/lodash/dist/lodash.min.js"></script>
  <script type="text/javascript" src='bower/pdfmake/build/pdfmake.min.js'></script>
   <script type="text/javascript" src='bower/pdfmake/build/vfs_fonts.js'></script>
   
  <script type="text/javascript" src="bower/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower/angular-route/angular-route.min.js"></script>

  <script type="text/javascript" src="bower/ng-file-upload/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="bower/qrcode.js/qrcode.js"></script>

  <script type="text/javascript" src="efectos/agregar.js"></script>

  <script type="text/javascript" src="js/app/app.js"></script>
  <script type="text/javascript" src="js/app/routes.js"></script>

  <script type="text/javascript" src="js/app/factories/userFactory.js"></script>

  <script type="text/javascript" src="js/app/controllers/VistasPrincipales/loginController.js"></script>
  <script type="text/javascript" src="js/app/controllers/VistasPrincipales/dashboardController.js"></script>
  <script type="text/javascript" src="js/app/controllers/VistasPrincipales/acercadeController.js"></script>
  <script type="text/javascript" src="js/app/controllers/welcomeController.js"></script>
  <script type="text/javascript" src="js/app/controllers/alumnosController.js"></script>
  <script type="text/javascript" src="js/app/controllers/alumnoController.js"></script>
  <script type="text/javascript" src="js/app/controllers/VistasPrincipales/mapasController.js"></script>

  <script type="text/javascript" src="js/app/controllers/Tecnologicos/tecnologicosController.js"></script>
  <script type="text/javascript" src="js/app/controllers/Tecnologicos/listadoParticipantes.js"></script>
  
  <script type="text/javascript" src="js/app/controllers/Deportistas/deportistasController.js"></script>
  <script type="text/javascript" src="js/app/controllers/Deportistas/deportistaController.js"></script>

  <script type="text/javascript" src="js/app/controllers/Auxiliares/auxiliar.js"></script>
  <script type="text/javascript" src="js/app/controllers/Auxiliares/auxiliares.js"></script>
  
  <script type="text/javascript" src="js/app/controllers/Staffs/staffController.js"></script>
  <script type="text/javascript" src="js/app/controllers/Staffs/staffsController.js"></script>

  <script type="text/javascript" src="js/app/controllers/Hoteles/hotelesRegistro.js"></script>
  <script type="text/javascript" src="js/app/controllers/Hoteles/hotelesTodos.js"></script>
</body>

</html>
